nav{
    max-width: cover;
    margin: auto;
   background-color: white; 
    font-size: 20px;
    margin-top: 5px;
}
h1{
    text-align: center;
    background-color: white;
    background-size: cover ;
}
body{
    background-image: url(fondo.webp);
    background-size: cover;
    
}
.menuHorizontal{
    list-style:none;
    display: flex;
    justify-content: space-around;
   
}
.menuHorizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: black;
    text-decoration: none;
    
}
.menuHorizontal>li:hover{
    background-color: rgba(106, 106, 241, 0.301);
    
    
}
.menuVertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, .5);
    
}
.menuHorizontal li:hover>.menuVertical{
    display: block;
    
}
.menuVertical li:hover{
background-color: rgb(73, 73, 141);


}
.menuVertical li a{
    display: block;
    color:white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
    
}
